@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(17, 24, 39); */
}

/* .container {
  max-width: 1133px;
  margin: 0 auto;
} */

/* =========================== */
/* ========= Header ========== */
/* =========================== */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 183, 183);
  font-size: 32px;
}

/* =========================== */
/* ========= Carousel ======== */
/* =========================== */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  /* overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative; */
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-flex;
  padding-right: 24px;
  gap: 24px;
  animation: 35s slide infinite linear;
}
